body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

label {
    padding: 10px;
}

input {
    background-color: bisque;
}